# Ignore the Next.js build output
.next/** linguist-vendored

# Ignore standard CSS/SASS folders
styles/** linguist-vendored
public/** linguist-vendored

# Ignore specific large library files
*.css linguist-vendored
*.scss linguist-vendored
*.min.css linguist-vendored

# Ensure TS/JS is detected
*.ts linguist-detectable=true
*.tsx linguist-detectable=true
*.js linguist-detectable=true